@import "@/app/app.scss";

.page-container {
  width: 100%;
  max-width: $hd-breakpoint;
  height: 100%;

  padding: 24px;


  .page-title {
    margin: 12px 24px;
    text-align: center;
  }

  .products-container {

    .product-category-title {
      text-align: center;
      text-transform: uppercase;
    }
  }

  .products-list {
    padding: 32px 0;
    width: 100%;
  }
}


.product-card {
  width: 100%;
  //max-width: 222px;

  cursor: pointer;

  border-radius: 8px;
  //border: 1px solid $border-color;

  &:hover {

  }

  .product-photo {
    border-radius: 8px;
    //border-radius: 8px 8px 0 0;
    object-fit: cover;
  }

  .p-card-info {
    //border-top: 1px solid $border-color;
    padding: 12px 0;
    //background: $bg-white;
    border-radius: 0 0 8px 8px;
    //position: absolute;
    //bottom: 0;
    width: 100%;
    //background: linear-gradient(to right, red , yellow);
  }
}
