/*-----------------------commons scss variable--------------------*/
/*-----------------------screen breakpoint--------------------*/
$lg-breakpoint: 992px;
$md-breakpoint: 768px;
$mobile-breakpoint: 576px;


/*-----------------------spacing--------------------*/
/*-----------------------spacing--------------------*/

/*-----------------------colors scss variable--------------------*/
$border-color: var(--border-color);
$bg-white: var(--bg-white);
/*-----------------------colors scss variable--------------------*/
